@model team_golden_virus.ViewModels.PatientDashboardViewModel

@{
    ViewData["Title"] = "Patient Dashboard";
}

<h1>Patient Dashboard</h1>
<p>Welcome, @Model.PatientName</p>

<ul>
    <li><a asp-controller="Patient" asp-action="Dashboard">Dashboard Home</a></li>
    <li><a asp-controller="Home" asp-action="Index">Go to Site Home</a></li>
</ul>

<form asp-controller="Account" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>
